header,
aside,
section,
article,
main{
    border: 2px solid red;
}

body{
    margin:0;
    font-family: sans-serif;

}

h1{
    margin: 0;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.grid-container{
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

.dashboard-nav{
    background-color: rgb(0, 110, 255);
    color: white; 

    grid-row: 1/-1;

    padding: 16px 60px 16px 16px;

}

.dashboard-nav > ul {
    margin-top: 60px;
}

.nav-item{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.nav-item h1{
    font-weight: 500;

}

.nav-item:nth-child(1){
    margin-top: 0;

}

.icon {
    display: flex;
    justify-content: center;
    width: 40px;
}

header {
    grid-column: 2/-1;

}

main {
   grid-column: 2/-1;

   display: grid;
   grid-template-columns: 1fr 1fr auto;
   grid-template-rows: auto auto;
}

.project-item{
    padding: 12px;
    border: 1px solid blue;
    height: 200px;/*this should be removed later to fit the content size*/
}

.projects{
    margin: 12px;
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
}

.projects > ul {
    margin:0;
    padding: 0;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:14px;

    justify-items:center;

    

}

.announcements{
    margin: 12px;
    grid-column: span 1 / -1;
}

.trending{
    margin: 12px;
    grid-column: span 1 / -1;
}
