body{
    margin:0;
    font-family: sans-serif;

}

h1, h2{
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}
button{
    border: none;
    background-color: white;
}

button:hover{
    cursor: pointer;

}

main {
   grid-column: 2/-1;

   display: grid;
   grid-template-columns: 1fr 1fr minmax(auto, 280px);

   background-color: lightgrey;
}

p{
    margin: 0;
}

.projects > h1,
.announcements > h1,
.trending > h1 {
    padding: 1rem 0;
}

.grid-container{
    height: 100vh;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
}

/*HEADER*/
header{
    padding: 1rem 2rem;

    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1.2rem;
}

.header-top {
    grid-column: 2/-1;

    display: grid;
    grid-template-columns: auto 1fr auto auto auto;

    gap:1.5rem;

    align-items: center;
    justify-content: space-between;

}

input[type="search"]{
    width: 100%;
    max-width: 560px;
    height: 24px;

    border-radius: 2rem;
    border: none;
    background-color: lightgrey;
}

.header-bottom {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap:1.2rem;    

}
.header-bottom .greeting {
    font-size: smaller;
    font-weight: 700;
}

.header-bottom .social-handle {
    font-size: large;
    font-weight: 600;

}

.header-bottom button {
    width: 80px;
    height: 30px;

    border: none;
    border-radius: 20px;

    background-color: rgb(0, 110, 255);
    color:white;   

    font-weight: 600;
}
/*NAVIGATION*/
.dashboard-nav{
    background-color: rgb(0, 110, 255);
    color: white; 

    grid-row: 1/-1;

    padding: 16px 60px 16px 16px;

}

.dashboard-nav > ul {
    margin-top: 60px;
}

.nav-item{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.nav-item h1{
    font-weight: 500;

}

.nav-item:nth-child(1){
    margin-top: 0;

}

.nav-item > .icon {
    display: grid;
    justify-items: center;
    width: 40px;
}

/*PROJECTS*/
.projects{
    align-items: space-between;

}

.projects .item{
    padding: 20px;

    border-left: 6px solid orange;
    border-radius: 6px;
    background-color: white;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

.projects .item > h2{
    padding: 0.4rem 0;
    font-size: 1.2rem;
}

.projects .item > span {
    color: grey;
    font-size: 0.90rem;

}

.projects{
    margin: 12px;
    grid-column: 1 / span 2;
    grid-row: 1 / -1;
}

.projects > ul {
    margin:0;
    padding: 0;
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap:24px;

    justify-items:center;
}

.item-button-wrapper {
    display: flex;
    justify-content: flex-end;
    gap:20px;
    padding-top: 30px;
}

.item-button-wrapper > button{
    border: none;
    height: 2rem;
    background-color: white;  
}
/*ANNOUNCEMENTS*/
.announcements{
    margin: 12px;  
    grid-column: span 1 / -1;
}

.announcements ul {
    background-color: white;
    border-radius: 6px;
    padding: 0 30px;

}

.announcements .item {
    padding: 20px 0px;
    border-bottom: 1px solid lightgrey;
}

.announcements .item:nth-last-child(1){
    border: none;
}

.announcements  h2 {
    padding: 0.4rem 0;
    font-size: 1rem;
}

.announcements span {
    color: grey;
    font-weight: 500;
    font-size: 0.9rem;

}

/*TRENDING*/
.trending{
    margin: 12px;
    grid-column: span 1 / -1;
}

.trending > ul {
    background: white;
    border-radius: 6px;
    padding: 0 20px;
} 

.trending .item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.2rem;
    padding: 20px 0 0 0;

    align-items: center;
}

.trending .item:nth-last-child(1){
    padding-bottom: 20px;
}

.trending .item p{
    color: grey;
    font-weight: 600;
    font-size: smaller;
}

.trending .item .social-handle a{
    font-weight: 600;
    font-size: small;

}